{% extends 'base.html' %}
{% block content %}


 <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login_form_inner">
<div class="content-section">
    <form method="POST">
    {% csrf_token %}

    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Reset Password!</legend>
        {{ form.as_p}}
    </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
            Reset Password </button>
        </div>
    
    </form>

</div>
</div>
</div>
</div>
</div>
</section>


{% endblock content %}