{% extends 'base.html' %}
{% load static %}

{% block content %}



	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Register New User</h1>
					<nav class="d-flex align-items-center">
						<a href="{% static 'index.html' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Register New User</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<center>
			<div class="col-lg-6">
					<div class="login_form_inner" style="margin-top:0px">
						<h2>Registration Form</h2><br>
									{% include 'accounts/messages.html' %}
						<form class="row login_form" method="POST" id="contactForm">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="fn" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" pattern="[a-zA-Z]+" maxlength="20" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="ln" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" pattern="[a-zA-Z]+" maxlength="20">
							</div>
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="name" name="email" placeholder="E-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'" maxlength="50" required  data-validation="email" data-validation-help="">
							</div>
							<div class="col-md-12 form-group">
								<input type="Password" class="form-control" id="name" name="password1" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" maxlength="15">
								<br><div class="form-group" align="center" style="font-size: 12px;">* Password must have a Number, Alphabet and 8 letters at least</div>
							</div>
							<div class="col-md-12 form-group">
								<input type="Password" class="form-control" id="name" name="password2" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" maxlength="15">
							</div>
							<div class="col-md-12 form-group">
								<select name="gender" required>
									<option selected="selected" value='True'>Male</option>
									<option value='False'>Female</option>
								</select>
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="phone_number" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'" pattern="[789][0-9]{9}" maxlength="10" required>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Register</button>
							</div>
						</form>
						<div>
							Already A User?? <a href="{% url 'loginapp' %}">Sign In</a>
						</div><br>
						
					</div>
				</div>
		</center>
		
	</section>
	<!--================End Login Box Area =================-->



	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
	<script>
  		$.validate();
  		$('#my-textarea').restrictLength( $('#max-length-element') );
	</script>
	<script>
		$.validate({
			modules : 'security'
		 });
	</script>


{% endblock content %}